.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000aff;
    font-size: 10px;
    font-family: 'MuseoSans',Arial,sans-serif;
    line-height: 1;
    font-weight: 700;
    border-width: 1px;
    border-radius: 7px;
    background-color: #ffffff;
    background-position: center center;
    border-color: #000aff;
    border-style: solid;
    transition: 0.3s ease;
    cursor: pointer;
    width: 224px;
    height: 52px;
    &:hover {
        background-color: #000aff;
        color: white;
    }
    &_blue {
        background-color: #000aff;
        color: white;
        &:hover {
            background-color: white;
            color: #000aff;
        }
    }
}