.catalog {
    &__content {

    }
    &__grid {
        margin: 0 -30px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-top: 60px;
    }
    &__title {
        width: 100%;
    }
    &__card {
        margin: 0 30px 10px;
    }
}