.nav {
    display: flex;
    justify-content: space-between;
    &__elem {
        display: block;
        padding: 0 10px;
        color: #0a113c;
        font-size: 14px;
        font-family: 'MuseoSans',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 400;
        transition: 0.3s ease;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
}