<div class="actual-table">
    <div class="wrapper">
        <div class="catalog__title title">
            <h2>Модели</h2>
            <span></span>
        </div>
        <div class="actual-table__content">

            <div class="actual-table__elem">МРБО-100-02/1</div>
            <div class="actual-table__elem">МРБО-100-02</div>
            <div class="actual-table__elem">МРБО-100-02Ф</div>
            <div class="actual-table__elem">МРБО-125-02</div>
            <div class="actual-table__elem">МРБО-125-02Ф</div>
            <div class="actual-table__elem">НРБО-100-02/1</div>
            <div class="actual-table__elem">НРБО-100-02</div>
            <div class="actual-table__elem">НРБО-100-02Ф</div>
            <div class="actual-table__elem">НРБО-125-02</div>
            <div class="actual-table__elem">НРБО-125-02Ф</div>
            <div class="actual-table__elem">ПРБО-125-03</div>
            <div class="actual-table__elem">МРБО-160-04</div>
            <div class="actual-table__elem">МРБО-160-04Ф</div>
            <div class="actual-table__elem">МРБО-160/2-08MC</div>
            <div class="actual-table__elem">МРБО-160/4-08MC</div>
            <div class="actual-table__elem">МРБО-400/1-16MC</div>
            <div class="actual-table__elem">НРБО-160-04</div>
            <div class="actual-table__elem">НРБО-160-04Ф</div>
            <div class="actual-table__elem">НРБО-160/2-08МС</div>
            <div class="actual-table__elem">НРБО-160/4-08МС</div>
            <div class="actual-table__elem">НРБО-400/1-16МС</div>
        </div>
    </div>
</div>