<div class="about-content">
    <div class="wrapper">
        <div class="about-content__content">

            <div class="about-content__title title title_left">
                <h2>Обеззараживатель воздуха медицинский</h2> 
            </div>

            <div class="about-content__text about-content__text_dop">
                <p>Купить медицинский рециркулятор не составит труда. Для этого, посетите наш сайт, посмотрите предоставленный каталог и оставьте заявку на то устройство, которое наиболее вам подходит. Покупая наши приборы с РУ Росздравнадзора, Вы можете получить единовременную компенсацию от Государства и зачесть налоги по фонду соц<span lang="ru-RU">иального </span>страхования на сумму 20% от годовых выплат на основании Приказа Минтруда от 14.07.2021 №467н.</p>
                <p><strong>Описание</strong></p>
                <p>В воздухе находится большое количество вирусов и бактерий. Наш организм успешно с ними борется, но если он хоть чуть-чуть ослаблен, то мы начинаем заболевать. Особенно эта проблема актуальна в больнице, куда ежедневно приходят люди с различными болезнями. Их организм наиболее нуждается в защите.</p>
                <p>Такую защиту может предоставить рециркулятор, который будет обеззараживать воздух в присутствии людей. Ведь человек ежедневно вдыхает большой объем воздуха, чаще всего не задумываясь насколько он опасен.</p>
                <p>Последние события в стране и в мире немного изменили данную ситуацию, люди стали задумываться о том, чем они дышат. Мы предлагаем немного успокоиться на этот счет и приобрести рециркулятор медицинский.</p>
                <p>Он устанавливается в больнице в помещениях и позволяет убивать до 99 % бактерий и вирусов.</p>
                <p><strong>Какие есть устройства</strong></p>
                <p>Рециркулятор воздуха, как было написано выше, достаточно функционален и популярен. С его помощью очищаются большие объемы воздуха. Но при покупке стоит рассматривать модель, которая позволит обеспечить необходимый объем очистки:</p>
                <ul>
                <li>
                <p>Вентиляционный устанавливается внутри вентиляции, при этом не мешает, очищая большие потоки воздуха, предоставляя в помещение только чистый кислород. отлично подходит для больших больниц.</p>
                </li>
                <li>
                <p>Мобильная модель позволит вам переносить ее из помещения в помещение. Подойдет <span lang="ru-RU">как </span>дл<span lang="ru-RU">я</span> кабинетов и холлов, в которых скапливается большое количество народа.</p>
                </li>
                <li>
                <p>Стационарное устройство монтируется на стену или потолок. Не занимает много места. Подходит для регистратур и мест приема пациентов.</p>
                </li>
                <li>
                <p>автомобильный рециркулятор можно применять в скорой помощи. Он позволит избежать риска заражения от больного для медицинского персонала и очистить воздух для следующего пациента.</p>
                </li>
                </ul>
                <p><strong>Как оформить заказ</strong></p>
                <p>Наша компания предоставляет широкий выбор медицинских рециркуляторов. Каждая модель имеет необходимую документацию, сертификаты<span lang="ru-RU">, РУ Росздравнадзора</span> и отвечает всем заявленным требованиям. В дополнение мы предоставляем гарантию, которая позволит вам продолжительное время использовать оборудование.</p>
                <p>Медицинский рециркуляр по доступной цене представлен на нашем сайте. Оставляйте заявку прямо сейчас или позвоните по указанному телефону.</p>
            </div>
            
        </div>
    </div>
</div>