<div class="about-content">
    <div class="wrapper">
        <div class="about-content__content">

            <div class="about-content__title title title_left">
                <h2>Рециркуляторы бактерицидные</h2> 
            </div>

            <div class="about-content__text about-content__text_dop">
                <p>Рециркулятор воздуха купить по доступной цене, значит обратиться к нам. Мы предоставляем качественные товары собственного производства с гарантией.</p>
                <p><strong>Описание</strong></p>
                <p>Обеззараживатели воздуха позволяют очищать воздух в любых типах помещений до 99,9 % всех вирусов и бактерий. Применение возможно при нахождении людей, так как оборудование не вредит человеку и животным.</p>
                <p><span lang="ru-RU">К</span>аждое устройство имеет гарантию качества и необходимые сертификаты<span lang="ru-RU">, регистрационное удостоверение Росздравнадзора для </span>соответствия всем нормам.</p>
                <p><strong>Ассортимент</strong></p>
                <p>Одного функционал<span lang="ru-RU">а</span> для корректного использования оборудование недостаточно. Важно корректно подобрать модель, которая будет отвечать заявленным характеристикам и выполнять необходимые требования. Мы предлагаем нашим клиентам:</p>
                <ul>
                <li>
                <p>Дополнительные фильтры и насадки. Они позволят не приобретать устройства, а дополнить уже существующую сплит-систему, что достаточно удобно и выгодно. Показатели и характеристики не уступают отдельным изделиям.</p>
                </li>
                <li>
                <p>Мобильные конструкции. Имеют различные формы. в дополнении идут ножки или колесики, которые позволяют перемещать оборудование из одного помещения в другое. Благодаря габаритам, устройство не займет много места.</p>
                </li>
                <li>
                <p>Стационарное оборудование. Это функциональные устройства, позволяющие обрабатывать и очищать большие объемы. Монтируются при помощи специальных крепежей на стену или потолок. Цветовую гамму можно подобрать для сочетания с поверхностью.</p>
                </li>
                <li>
                <p>Транспортные комплектации. Удобное небольшое оборудование, которое переносится и легко устанавливается в любую машину.</p>
                </li>
                </ul>
                <p>Бактерицидные рециркуляторы отлично подойдут для:</p>
                <ul>
                <li>
                <p>Дома и квартиры. Но лучше для таких целей приобретать мобильные, которые легко переносятся.</p>
                </li>
                <li>
                <p>Производственных помещений и заводов. Отличный вариант для дополнительного оборудования и фильтров в систему вентиляции. Позволяют обрабатывать большие потоки.</p>
                </li>
                <li>
                <p>Образовательных учреждений. Важный фактор, который просто необходим в связи со сложившейся обстановкой.</p>
                </li>
                <li>
                <p>Медицинских зданий. Они позволяют отказаться от устаревших моделей и проводить очистку даже в то время, когда в кабинете или палате находятся пациенты.</p>
                </li>
                <li>
                <p>Автомобилей. Любая техника: такси, скорая помощь, и пр.</p>
                </li>
                </ul>
                <p><strong>Как оформить заказ</strong></p>
                <p>Купить бактерицидный рециркулятор не составит труда. Мы работаем с юридическими и физическими лицами, предоставляя:</p>
                <ul>
                <li>
                <p>индивидуальный подход;</p>
                </li>
                <li>
                <p>доставку по всей России;</p>
                </li>
                <li>
                <p>оптимальное ценообразование;</p>
                </li>
                <li>
                <p>оптовые и розничные продажи;</p>
                </li>
                <li>
                <p>сертификаты качества;</p>
                </li>
                <li>
                <p>гарантию.</p>
                </li>
                </ul>
                <p>Если вам необходим обеззараживатель воздуха. то приобретайте у надежного производителя, который готов предоставить вам все необходимые документы.</p>
            </div>
            
        </div>
    </div>
</div>