<div class="about-content">
    <div class="wrapper">
        <div class="about-content__content">

            <div class="about-content__title title title_left">
                <h2>Выбрать по назначению бактерицидный рециркулятор воздуха</h2> 
            </div>

            <div class="about-content__text about-content__text_dop">
                <p>Обеззараживатель воздуха можно подобрать по модели и по назначению. Мы предоставляем широкий ассортимент товара, позволяющий подобрать оптимальный вариант для вашего использования.</p>
                <p><strong>Описание</strong></p>
                <p>Мы предлагаем уникальные рециркуляторы, которые используются в присутствии человека и не нанося ему вред. Особенности устройств:</p>
                <ul>
                <li>
                <p>Каждое устройство можно применять в трех вариациях: мобильный, настенный и потолочный.</p>
                </li>
                <li>
                <p>Устраняется до 99 % всех вирусов и бактерий.</p>
                </li>
                </ul>
                <p><strong>Как выбрать устройство</strong></p>
                <p>Наша компания предоставляет широкое разнообразие моделей, позволяющих применение во многих направлениях. Таким образом у каждого клиента имеется возможность подобрать оптимальный вариант для использования.</p>
                <p>Виды:</p>
                <ul>
                <li>
                <p>Передвижные со стойкой. Мобильный вариант устройства. Вы можете его перемещать из одного помещения вы другое. Небольшой вес и большой функционал становятся преимуществами модели.</p>
                </li>
                <li>
                <p>Передвижные на ножках и на колесиках. Вверху оборудования имеется ручка. Компактные размеры и большая производительность позволяет вам применять это устройство не только дома, но в рабочем кабинете.</p>
                </li>
                <li>
                <p>Мощные могут устанавливаться на колесики, для удобного перемещения по пространству или крепиться на стену.</p>
                </li>
                <li>
                <p>Настенные комплектации устанавливаются на стену или потолок. Органично вписываются в пространство и позволяют обеззараживать большие помещения.</p>
                </li>
                <li>
                <p>Для потолков. Монтаж производится только на потолок<span lang="ru-RU"> типа Армстронг</span>, для <span lang="ru-RU">любых видов помещений</span>.</p>
                </li>
                <li>
                <p>Для транспорта. Отличный вариант, когда необходима защита не только в помещении, но и в автомобиле. Компактное устройство отлично работает<span lang="ru-RU"> от напряжения сети 12</span><span lang="en-US">V.</span></p>
                </li>
                <li>
                <p>Вентиляционные устанавливаются непосредственно в вентиляцию и позволяют очищать помещения во всем здании. Они намного мощнее.</p>
                </li>
                </ul>
                <p>Каждая модель универсальна и позволяет выполнять одни и те же функци<span lang="ru-RU">и с разной производительностью</span>. Кроме того, мы предоставляем широкий выбор по палитрам.</p>
                <p><strong>Как оформить заказ</strong></p>
                <p>Наша компания является производителем обеззараживающих устройств, которые подходят для применения в домашних условиях, на работе, в общеобразовательных учреждениях, на производстве, в больницах и даже автомобилях. Широкий ассортимент позволит подобрать рециркулятор воздуха наиболее точно по назначению<span lang="ru-RU"> - в соответствии с объемом помещения.</span></p>
            </div>
            
        </div>
    </div>
</div>