<div class="about-content">
    <div class="wrapper">
        <div class="about-content__content">

            <div class="about-content__title title title_left">
                <h2>Типы бактерицидных рециркуляторов</h2> 
            </div>

            <div class="about-content__text about-content__text_dop">
                <p>Обеззараживатель воздуха можно подобрать по модели и по типу. Для этого мы предлагаем рассмотреть наш каталог и подобрать товар по необходимым параметрам.</p>
                <p><strong>Описание</strong></p>
                <p>Бактерицидный рециркулятор &mdash; прибор, позволяющий очищать воздух в любом помещении. Уничтожаются 99,9 % бактерий и вирусов, находящихся в воздухе. Отличительные особенности:</p>
                <ul>
                <li>
                <p>не наносит вред человеку;</p>
                </li>
                <li>
                <p>имеет компактные размеры;</p>
                </li>
                <li>
                <p>эстетичный дизайн.</p>
                </li>
                </ul>
                <p>Наша продукция имеет необходимые документации, сертификаты и полностью отвечает всем заявленным требованиям.</p>
                <p><strong>Ассортимент</strong></p>
                <p>Обеззараживатели воздуха подразделяются на несколько типов:</p>
                <ul>
                <li>
                <p>Стационарные. Позволяют использование только в одном помещении, монтируются на стену или потолок. Отвечают всем заявленным требованиям. Подходят для больших объемов и помещений.</p>
                </li>
                <li>
                <p>Мобильные 1 позволяют перемещать устройство по комнатам или кабинетам. Не занимают много места, работаю от сети. Имеют красивый дизайн.</p>
                </li>
                <li>
                <p>Встраиваемые позволяют дополнить любую <span lang="ru-RU">вентиляционную или </span>сплит-систему. Имеют те же показатели, что и устройства. Достаточно удобны, если у вас уже имеется какое-либо оборудование.</p>
                </li>
                </ul>
                <p><strong>Особенности нашей компании</strong></p>
                <p>Наша компания "А<span lang="ru-RU">вап-климатические решения</span>" является производителем современных и технологичных устройств, позволяющих очищать воздух. Мы имеем большой опыт работы в данном направлении и наши специалисты постоянно дорабатывают имеющиеся модели, дополняют функционалом и позволяют удобное применения и 100 % результат.</p>
                <p>Мы сотрудничаем с юридическими и физическими лицами, предоставляя оптимальные условия сотрудничества. Продаем устройства оптом и в розницу.</p>
                <p>Мы предоставляем:</p>
                <ul>
                <li>
                <p>индивидуальный подход;</p>
                </li>
                <li>
                <p>лояльное ценообразование;</p>
                </li>
                <li>
                <p>необходимые сертификаты;</p>
                </li>
                <li>
                <p>гарантию качества;</p>
                </li>
                <li>
                <p>доставку по России.</p>
                </li>
                </ul>
                <p><strong>Как оставить заявку</strong></p>
                <p>Если вы не можете самостоятельно определиться с моделью и типом необходимого оборудования, просто позвоните нам по указанному номеру. Наши консультанты помогут вам определиться с оптимальным устройством, рассказав об особенностях каждого и подобрать по соответствующим характеристикам.</p>
                <p>Если вы определились, то просто оставьте заявку на нашем сайте. После проведения платежа, мы отправим заказ в любой населенный пункт России<span lang="ru-RU"> бесплатно</span>.</p>
                <p>Типы рециркуляторов позволяют подобрать оптимальный вариант, который наиболее четко справится с поставленной задачей. Звоните нам прямо сейчас!</p>
            </div>
            
        </div>
    </div>
</div>