<div class="table-prod">
    <div class="wrapper">
        <div class="table-prod__title title">
            <h2>Модели</h2>
        </div>
        <div class="table-prod__content">
          <table class="t431__table " width="100%">
            <thead class="t431__thead">
              <tr>
                <th class="t431__th t-title">Модель</th>
                <th class="t431__th t-title">Мощность бактерицидного излучения Фбх, Вт</th>
                <th class="t431__th t-title">Расход через секцию, м3ч</th>
                <th class="t431__th t-title">Напряжение, В</th>
                <th class="t431__th t-title">Потребляемая мощность, кВт</th>
                <th class="t431__th t-title">Суммарный бактерицидный поток, Вт</th>
                <th class="t431__th t-title">Размеры, мм</th>
                <th class="t431__th t-title"> Вес, кг</th>
                <th class="t431__th t-title">Стоимость, руб</th>
                <th class="t431__th t-title"> </th>
                <th class="t431__th t-title"></th>
              </tr>
            </thead>
            <tbody class="t431__tbody">
              <tr class="t431__oddrow">
                <td class="t431__td t-text">СБО-400х200 </td>
                <td class="t431__td t-text"> 240 </td>
                <td class="t431__td t-text"> 1700 </td>
                <td class="t431__td t-text"> 220 </td>
                <td class="t431__td t-text"> 0,240 </td>
                <td class="t431__td t-text"> 64 </td>
                <td class="t431__td t-text"> 400x200x650 </td>
                <td class="t431__td t-text"> 22 </td>
                <td class="t431__td t-text"> 65 000 </td>
                <td class="t431__td t-text">
                  <div class="t431__btnwrapper product__element">
                      <div class="product__quantity"></div>
                      <button class="product__add-to-cart-button card__btn btn" data-sb-id-or-vendor-code="050" data-sb-product-name="СБО-400х200" data-sb-product-price="65000" data-sb-product-quantity="1">
                        Заказать
                      </button>
                    </div>
                </td>
                <td class="t431__td t-text"></td>
              </tr>
              <tr class="t431__evenrow">
                <td class="t431__td t-text">СБО-400х200 </td>
                <td class="t431__td t-text"> 105 </td>
                <td class="t431__td t-text"> 1700 </td>
                <td class="t431__td t-text"> 220 </td>
                <td class="t431__td t-text"> 0,105 </td>
                <td class="t431__td t-text"> 28 </td>
                <td class="t431__td t-text"> 400x200x650 </td>
                <td class="t431__td t-text"> 17 </td>
                <td class="t431__td t-text"> 42 500 </td>
                <td class="t431__td t-text">
                  <div class="t431__btnwrapper product__element">
                      <div class="product__quantity"></div>
                      <button class="product__add-to-cart-button card__btn btn" data-sb-id-or-vendor-code="051" data-sb-product-name="СБО-400х200" data-sb-product-price="42500" data-sb-product-quantity="1">
                        Заказать
                      </button>
                    </div>
                </td>
                <td class="t431__td t-text"></td>
              </tr>
              <tr class="t431__oddrow">
                <td class="t431__td t-text">СБО-400х200 </td>
                <td class="t431__td t-text"> 60 </td>
                <td class="t431__td t-text"> 1700 </td>
                <td class="t431__td t-text"> 220 </td>
                <td class="t431__td t-text"> 0,060 </td>
                <td class="t431__td t-text"> 16 </td>
                <td class="t431__td t-text"> 400x200x650 </td>
                <td class="t431__td t-text"> 12 </td>
                <td class="t431__td t-text"> 35 000 </td>
                <td class="t431__td t-text">
                  <div class="t431__btnwrapper product__element">
                      <div class="product__quantity"></div>
                      <button class="product__add-to-cart-button card__btn btn" data-sb-id-or-vendor-code="052" data-sb-product-name="СБО-400х200" data-sb-product-price="35000" data-sb-product-quantity="1">
                        Заказать
                      </button>
                    </div>
                </td>
                <td class="t431__td t-text"></td>
              </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>

