<div class="about-content">
    <div class="wrapper">
        <div class="about-content__content">

            <div class="about-content__title title title_left">
                <h2>Бактерицидная секция для канала центральной системы вентиляции</h2> 
            </div>

            <div class="about-content__text about-content__text_dop">
                <p>Канальные обеззараживатели воздуха купить в нашей компании не составит труда. Мы предоставляем широкий ассортимент качественных товаров по доступной стоимости.</p>
                <p><strong>Описание</strong></p>
                <p>Наиболее актуальна проблема с обработкой и очисткой воздуха в производственных помещениях, общеобразовательных, медицинских и на спортивных объектах. Особенно эта необходимость возникла в период эпидемий и большого количества заболевших людей.</p>
                <p>Бактерицидная секция для вентиляции позволяет:</p>
                <ul>
                <li>
                <p>очищать воздух и обеззараживать его;</p>
                </li>
                <li>
                <p>снижать риск заражения внутри помещения;</p>
                </li>
                <li>
                <p>не подвергать риску людей<span lang="ru-RU">, </span>находящихся внутри.</p>
                </li>
                </ul>
                <p>Бактерицидная обработка возможна приточного и вытяжного воздуха. Вся система автоматизирована и вам не придется дополнительно что-то подключать.</p>
                <p>&nbsp;</p>
                <p><strong>Рекомендации при приобретении</strong></p>
                <p>Бактерицидные секции подключаются к системе последовательно или параллельно, в зависимости от требуемого эффекта. При покупке, учтите следующие критерии:</p>
                <ul>
                <li>
                <p>Производительность сплит системы или вентиляции. Она указывается<span lang="ru-RU"> в кубических метрах </span>в час. Таким образом<span lang="ru-RU">,</span> у вас получится подобрать оптимальный вариант.</p>
                </li>
                <li>
                <p>Значение уровня бактерицидной эффективности, необходимой для определенного вида микроорганизмов. Например, для туберкулезного диспансера необходимы максимальные показатели, в то время как для детского сада возможно подобрать значения поменьше.</p>
                </li>
                <li>
                <p>Учитывайте тип используемого помещения.</p>
                </li>
                </ul>
                <p><strong>Как оформить заказ</strong></p>
                <p>Бактерицидные секции для систем вентиляции купить не составит труда. Для этого:</p>
                <ul>
                <li>
                <p>Выберите необходимый товар из каталога интернет-магазина<span lang="ru-RU"> или задайте вопрос нашему консультанту</span></p>
                </li>
                <li>
                <p>Оформите заказ.</p>
                </li>
                </ul>
                <p>Мы являемся производителями данного оборудования, поэтому предоставляем высокое качество каждого экземпляра. Работаем с юридическими и физическими лицами. Возможна продажа оптом.</p>
                <p>При возникновении вопросов, позвоните по указанному номеру. Наши консультанты помогут подобрать оптимальный товар и расскажут основные характеристики<span lang="ru-RU">.</span></p>
            </div>
            
        </div>
    </div>
</div>