<!-- popup-forms -->
@include('popup-forms.html')


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
      initialCountry: "ru",
      utilsScript:
        "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
  </script>
  <script>
    const phoneInputFields = document.querySelector("#phone1");
    const phoneInputs = window.intlTelInput(phoneInputFields, {
      initialCountry: "ru",
      utilsScript:
        "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
  </script>
  <script>
    const phoneInputFieldss = document.querySelector("#phone2");
    const phoneInputss = window.intlTelInput(phoneInputFieldss, {
      initialCountry: "ru",
      utilsScript:
        "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
  </script>

<iframe id="cloudim_chat" width="310" height="5" scrolling="no" frameborder="0" src="https://cloudim.ru/im/?&amp;silent=true&amp;accept_chats=false&amp;need[name]=false&amp;need[email]=false&amp;&amp;uid=49784&amp;group=34619&amp;url=https%3A%2F%2Fdezinfekziya.ru%2F&amp;referer=&amp;page=%D0%9F%D1%80%D0%BE%D0%B8%D0%B7%D0%B2%D0%BE%D0%B4%D1%81%D1%82%D0%B2%D0%BE%20%D0%B1%D0%B0%D0%BA%D1%82%D0%B5%D1%80%D0%B8%D1%86%D0%B8%D0%B4%D0%BD%D1%8B%D1%85%20%D1%80%D0%B5%D1%86%D0%B8%D1%80%D0%BA%D1%83%D0%BB%D1%8F%D1%82%D0%BE%D1%80%D0%BE%D0%B2%20%D0%B2%20%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-" style="position: fixed; bottom: 0px; right: 20px; z-index: 999; width: 310px; height: 5px; min-height: 0px; display: none;"></iframe>

<script type="text/javascript" data-tilda-cookie-type="analytics"> setTimeout(function(){ (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); window.mainMetrikaId = 69958795; ym(window.mainMetrikaId , "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true,ecommerce:"dataLayer" }); }, 2000);</script>
<noscript><div><img src="https://mc.yandex.ru/watch/69958795" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <script src="js/vendor.js"></script>
  <script src="js/main.js"></script>
  <!-- Begin LeadBack code {literal} -->
<script>
    var _emv = _emv || [];
    _emv['campaign'] = '238f96611389c8d5b19df72d';
    
    (function() {
        var em = document.createElement('script'); em.type = 'text/javascript'; em.async = true;
        em.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'leadback.ru/js/leadback.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(em, s);
    })();
</script>
<!-- End LeadBack code {/literal} -->
<style>
    #cloudim_chat {display: none;}
</style>