<div class="backcall">
    <a name="backcall"></a>
    <div class="wrapper">
        <div class="backcall__content">

            <div class="backcall__form">
                <div class="backcall__title title title_left">
                    <h2>Остались вопросы? <br>Напишите нам</h2>
                    <form action="" class="backcall-form">
                        <input type="name" placeholder="Ваше имя">
                        <input type="number" placeholder="+7(999)999-9999">
                        <textarea placeholder="Текст обращения"></textarea>
                        <p>Прикрепить файл</p>
                        <label for="file-upload" class="backcall-form__file">
                            Загрузить файл
                        </label>
                        <input id="file-upload" type="file">
                        <button type="submit" class="backcall-form__btn btn btn_blue">Отправить заявку</button>
                    </form>
                </div>
            </div>

            <div class="backcall__map">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Abaab60ae5db1590c585af038c13d9e3b9b7b795196dbaef8a208b39703eb06fa&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
                <div class="backcall__map-info">
                    <p>ООО "Авап-монтаж", Санкт-Петербург, ул.Дегтярева д.4</p>
                    <span>Телефон:</span>
                    <p>+7 910 421-30-69</p>
                    <span>E-mail:</span>
                    <p>b.morozov@avap-montage.ru</p>
                    <p>Работаем с 9.00 до 22.00 ежедневно и без выходных</p>
                </div>
            </div>

        </div>
    </div>
</div>