<div data-fancybox="basket-popup" data-src="#basket-popup" class="basket-fixed">
    <a class="basket-fixed__icon"></a>
    <a class="basket-fixed__number">0</a>
</div>

<div id="basket-popup" class="basket-popup">
    <h2 class="basket-popup__title">Ваш заказ:</h2>

    <div class="basket-popup__content">

        <div class="basket-popup__elem">
            <a class="basket-popup__img" style="background-image: url(img/catalog/models3/11.jpg);"></a>
            <p class="basket-popup__name">МРБО-103-02Ф</p>
            <div class="basket-popup__number">
                <a class="basket-popup__minus"></a>
                <a class="basket-popup__chislo">3</a>
                <a class="basket-popup__plus"></a>
            </div>
            <div class="basket-popup__price">38 540 р.</div>
            <a class="basket-popup__cross"></a>
        </div>

        <div class="basket-popup__elem">
            <a class="basket-popup__img" style="background-image: url(img/catalog/models3/11.jpg);"></a>
            <p class="basket-popup__name">МРБО-103-02Ф</p>
            <div class="basket-popup__number">
                <a class="basket-popup__minus"></a>
                <a class="basket-popup__chislo">3</a>
                <a class="basket-popup__plus"></a>
            </div>
            <div class="basket-popup__price">38 540 р.</div>
            <a class="basket-popup__cross"></a>
        </div>

        <div class="basket-popup__elem">
            <a class="basket-popup__img" style="background-image: url(img/catalog/models3/11.jpg);"></a>
            <p class="basket-popup__name">МРБО-103-02Ф</p>
            <div class="basket-popup__number">
                <a class="basket-popup__minus"></a>
                <a class="basket-popup__chislo">3</a>
                <a class="basket-popup__plus"></a>
            </div>
            <div class="basket-popup__price">38 540 р.</div>
            <a class="basket-popup__cross"></a>
        </div>

    </div>
    <p class="basket-popup__sum">Сумма: <span>38 540 р.</span></p>

    <form action="" class="form-full__form">
        <input class="form-full__name" type="name" placeholder="Ваше имя">
        <input class="form-full__mail" type="email" placeholder="E-mail">
        <input id="phone2" class="form-full__number" type="tel" maxlength="20">
        <button type="submit" class="form-full__btn btn btn_blue">Отправить</button>
    </form>
</div>