<div class="catalog">
    <div class="wrapper">
        <div class="catalog__content">

            <!-- Models -->
            <div class="catalog__grid">

                <div class="catalog__title title">
                    <h2>Модели</h2>
                    <span>Для малых помещений</span>
                </div>

                <div class="catalog__card">
                    <div class="card">
                        <a class="card__img" style="background-image: url(img/catalog/models/1.jpg);"></a>
                        <h3 class="card__title">МРБО-101-01Ф</h3>
                        <div class="card__info">
                            <p>Производительность - 20 м³/ч</p>
                            <p>Для помещений от 7 до 13 м²</p>
                            <p>С доп.фильтрующим блоком G3</p>
                            <p>Исполнение: <span>мобильное</span></p>
                        </div>
                        <p class="card__price">13 290 ₽</p>
                        <div class="card__btns">
                            <a class="card__btn btn btn_blue">Подробнее</a>
                            <a class="card__btn btn">Заказать</a>
                        </div>
                    </div>
                </div>

                <div class="catalog__card">
                    <div class="card">
                        <a class="card__img" style="background-image: url(img/catalog/models/2.jpg);"></a>
                        <h3 class="card__title">МРБО-102-02Ф</h3>
                        <div class="card__info">
                            <p>Производительность - 40 м³/ч</p>
                            <p>Для помещений от 7 до 26 м²</p>
                            <p>С доп.фильтрующим блоком G3</p>
                            <p>Исполнение: <span>мобильное</span></p>
                        </div>
                        <p class="card__price">17 730 ₽</p>
                        <div class="card__btns">
                            <a class="card__btn btn btn_blue">Подробнее</a>
                            <a class="card__btn btn">Заказать</a>
                        </div>
                    </div>
                </div>

                <div class="catalog__card">
                    <div class="card">
                        <a class="card__img" style="background-image: url(img/catalog/models/3.jpg);"></a>
                        <h3 class="card__title">МРБО-103-02Ф</h3>
                        <div class="card__info">
                            <p>Производительность - 60 м³/ч</p>
                            <p>Для помещений от 10 до 40 м²</p>
                            <p>С доп.фильтрующим блоком G3</p>
                            <p>Исполнение: <span>мобильное</span></p>
                        </div>
                        <p class="card__price">19 270 ₽</p>
                        <div class="card__btns">
                            <a class="card__btn btn btn_blue">Подробнее</a>
                            <a class="card__btn btn">Заказать</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>