<div class="how-working">
    <div class="wrapper">
        <div class="how-working__title title title_left">
            <h2>Как мы работаем</h2>
            <span>Мы работаем с юридическими лицами напрямую и через все известные тендерные площадки по 44 и 223 ФЗ</span>
        </div>
        <div class="how-working__content">
            <div class="how-working__grid">

                <div class="how-working__elem">
                    <a class="how-working__img" style="background-image: url(img/how-working/1.svg);"></a>
                    <h3 class="how-working__text">Заявка</h3>
                    <p class="how-working__info">Вы оформляете заявку через сайт или звоните по тел. <a href="tel:+78126550317">8 (812) 655-03-17</a></p>
                </div>

                <div class="how-working__elem">
                    <a class="how-working__img" style="background-image: url(img/how-working/2.svg);"></a>
                    <h3 class="how-working__text">Обработка запроса</h3>
                    <p class="how-working__info">Наш менеджер делает КП и договор исходя из размеров Ваших помещений и выставляет счет</p>
                </div>

                <div class="how-working__elem">
                    <a class="how-working__img" style="background-image: url(img/how-working/3.svg);"></a>
                    <h3 class="how-working__text">Доставка и оплата</h3>
                    <p class="how-working__info">После оплаты товар доставляется бесплатно нашим транспортным отделом или транспортными компаниями до адреса Заказчика по всей России</p>
                </div>

            </div>

            <a data-fancybox="form-full" data-src="#form-full" class="how-working__btn btn btn_blue">Начать сотрудничество</a>
        </div>
    </div>
</div>