<div class="info-catalog">
    <div class="wrapper">
        <div class="info-catalog__content">

            <div class="info-catalog__main">

                <div class="info-catalog__info">
                    <h3 class="info-catalog__title">Бактерицидные секции для каналов центральной системы вентиляции</h3>
                    <ul class="info-catalog__list">
                        <li>Комплексное решение по обеззараживанию воздуха в зданиях и помещениях.</li>
                        <li>Безозоновые лампы безопасны для человека, выдается тех. паспорт изделия, гарантийный талон и сертификаты.</li>
                        <li>Нужная модель производится под характеристики и технический функционал действующей системы вентиляции с необходимой пропускной способностью и степенью бактерицидного излучения.</li>
                        <li>Экономия средств при обеззараживании воздуха во множестве помещений через канал вентиляции здания.</li>
                        <li>Соответствует руководству Р3.5.1904-04 Минздрава и п.3.2 СанПин 1.2.2353-08</li>
                        <li>Блок управления секцией с индикацией работоспособности и счетчиком времени наработки ламп в рабочей зоне обслуживающего персонала.</li>
                        <li>Бесплатная доставка по всей России до адреса получателя</li>
                    </ul>
                    <a class="info-catalog__btn btn btn_blue">Стать дилером</a>
                </div>

                <a class="info-catalog__img" style="background-image: url(img/info-catalog/back2.jpg);"></a>
            </div>

        </div>
    </div>
</div>