<div class="info-catalog">
    <div class="wrapper">
        <div class="info-catalog__content">

            <div class="info-catalog__main">

                <div class="info-catalog__info">
                    <h3 class="info-catalog__title">Бактерицидные рециркуляторы воздуха Айроклин</h3>
                    <ul class="info-catalog__list">
                        <li>Регистрационное удостоверение Минздрава на медицинские изделия.</li>
                        <li>Уничтожают вирусы, бактерии и другие патогенные микроорганизмы 99,9%.</li>
                        <li>Настенные, мобильные, потолочные и транспортные модели с дополнительными фильтровальными блоками и передвижными стойками-платформами.</li>
                        <li>Окраска в любой цвет Ral по желанию Заказчика.</li>
                        <li>Широкий ассортимент дополнительных опций.</li>
                        <li>Все модели в наличии. Отправка в день оплаты.</li>
                        <li>Сертифицировано для работы в присутствии людей.</li>
                        <li>Соответствует требованиям Роспотребнадзора.</li>
                        <li>Бесплатная доставка оптом и в розницу по всей России до адреса получателя.</li>
                        <li>Скидки оптовым Заказчикам и Дилерам.</li>
                    </ul>
                    <a class="info-catalog__btn btn btn_blue">Стать дилером</a>
                </div>

                <a class="info-catalog__img" style="background-image: url(img/info-catalog/back.jpg);"></a>
            </div>

            <div class="info-catalog__nav">
                <a class="info-catalog__nav-elem btn" href="#smallpremises">Для малых помещений</a>
                <a class="info-catalog__nav-elem btn" href="#middlepremises">Для средних помещений</a>
                <a class="info-catalog__nav-elem btn" href="#bigpremises">Для больших помещений</a>
                <a class="info-catalog__nav-elem btn" href="#autorec">Автомобильные Рециркуляторы</a>
                <a class="info-catalog__nav-elem btn" href="#aces">Аксессуары</a>
            </div>

        </div>
    </div>
</div>