<div class="info-catalog">
    <a name="info-catalog3"></a>
    <div class="wrapper">
        <div class="info-catalog__content">

            <div class="info-catalog__main">

                <div class="info-catalog__info">
                    <h3 class="info-catalog__title">Бактерицидные секции насадок для сплит-систем кондиционирования</h3>
                    <ul class="info-catalog__list">
                        <li>Использование съемной бактерицидной секции и сплит-системы кондиционирования для обеззараживания рециркулируемого воздуха в помещении.</li>
                        <li>Подходит для всех типов настенных и потолочных кондиционеров.</li>
                        <li>Простая установка- закрепите зажимы за воздухозаборную решетку кондиционера и включите.</li>
                        <li>Обеззараживание воздуха в помещении и бактерий, образующихся на фильтре кондиционера.</li>
                        <li>Низкое энергопотребление и отсутствие шумов.</li>
                        <li>Не занимает полезного пространства в помещении.</li>
                        <li>Стильный дизайн и эргономический внешний вид.</li>
                        <li>Легкий алюминиевый корпус.</li>
                        <li>Бесплатная доставка оптом и в розницу по всей России до адреса получателя</li>
                    </ul>
                    <a data-fancybox="form-lite" data-src="#form-lite" class="info-catalog__btn btn btn_blue">Стать дилером</a>
                </div>

                <a class="info-catalog__img" style="background-image: url(img/info-catalog/back3.jpg);"></a>
            </div>

        </div>
    </div>
</div>