<div id="news1" class="news-popup">
    <div class="news-popup__content">

        <h2 class="news-popup__title">Наши приборы на выставке Новая нормальность г. Москва</h2>
        <span class="news-popup__date">26.05.2021</span>
        <div class="news-popup__slider">
            <a class="news-popup__slide" style="background-image: url(img/news/slider/1/2.jpg);"></a>
            <a class="news-popup__slide" style="background-image: url(img/news/slider/1/1.jpg);"></a>
        </div>

    </div>
</div>

<div id="news2" class="news-popup">
    <div class="news-popup__content">

        <h2 class="news-popup__title">Обеззараживатели Айроклин на ПМЭФ Экспо-Форум в Санкт-Петербурге</h2>
        <span class="news-popup__date">26.05.2021</span>
        <div class="news-popup__slider">
            <a class="news-popup__slide" style="background-image: url(img/news/slider/2/1.jpg);"></a>
            <a class="news-popup__slide" style="background-image: url(img/news/slider/2/2.jpg);"></a>
        </div>

    </div>
</div>

<div id="news3" class="news-popup">
    <div class="news-popup__content">

        <h2 class="news-popup__title">Гос. контракт на монтаж бактерицидных секций в каналы системы вентиляции Центра Гигиены и Эпидемиологии Роспотребнадзора г.Ханты-Мансийск</h2>
        <span class="news-popup__date">26.05.2021</span>
        <div class="news-popup__slider">
            <a class="news-popup__slide" style="background-image: url(img/news/slider/3/1.jpg);"></a>
            <a class="news-popup__slide" style="background-image: url(img/news/slider/3/2.jpg);"></a>
            <a class="news-popup__slide" style="background-image: url(img/news/slider/3/3.jpg);"></a>
            <a class="news-popup__slide" style="background-image: url(img/news/slider/3/4.jpg);"></a>
        </div>

    </div>
</div>