<div id="form-full" class="form-full">
    <h2 class="form-full__title">Укажите контактные данные</h2>
    <p class="form-full__text">Наш специалист перезвонит вам в течение 5 минут</p>
    <form action="" class="form-full__form">
        <input class="form-full__name" type="name" placeholder="Ваше имя">
        <input id="phone" class="form-full__number" type="tel" maxlength="20">
        <textarea placeholder="Сообщение"></textarea>
        <button type="submit" class="form-full__btn btn btn_blue">Отправить</button>
    </form>
    <span class="form-full__info">
        Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с Пользовательским соглашением
    </span>
</div>

<div id="form-lite" class="form-full form-full_lite">
    <h2 class="form-full__title">Укажите контактные данные</h2>
    <p class="form-full__text">Наш специалист перезвонит вам в течение 5 минут</p>
    <form action="" class="form-full__form">
        <input class="form-full__name" type="name" placeholder="Ваше имя">
        <input id="phone1" class="form-full__number" type="tel" maxlength="20">
        <button type="submit" class="form-full__btn btn btn_blue">Отправить</button>
    </form>
    <span class="form-full__info">
        Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с Пользовательским соглашением
    </span>
</div>