<div class="rospotreb">
    <div class="wrapper">
        <div class="rospotreb__content">

            <div class="rospotreb__elem">
                <a class="rospotreb__logo"></a>
                <div class="rospotreb__text">
                    <p>Обязателен для использования в местах постоянного присутствия людей всем организациям</p>
                    <a href="https://www.rospotrebnadzor.ru/region/korono_virus/rek_ros.php" target="_blank">Письма Роспотребнадзора</a>
                </div>
            </div>

        </div>
    </div>
</div>