<div class="about-content">
    <div class="wrapper">
        <div class="about-content__content">

            <div class="about-content__title title title_left">
                <h2>Рециркулятор бактерицидный для офиса</h2> 
            </div>

            <div class="about-content__text about-content__text_dop">
                <p>Обеззараживатель воздуха для офиса купить не составит труда, если вы посетите наш сайт. Мы, компания производители, которая предоставляет широкий ассортимент самых разнообразных моделей по доступной стоимости.</p>
                <p><strong>Описание</strong></p>
                <p>Бактерицидный рециркулятор станет незаменимым помощником в любом помещении. Наши устройства позволяют очищать воздух на 99,9 %, что гарантирует вам очистку от всех вирусов и бактерий. Это важный показатель, который необходим в современном мире. Особенно в следствии сложившейся ситуации в стране и в мире.</p>
                <p>Обеззараживатель для офиса позволяет исключить риск заражения и предотвратить болезни людей, которые работают и посещают офис.</p>
                <p><strong>Ассортимент</strong></p>
                <p>Широкий ассортимент наших моделей позволит подобрать оборудование, которое наиболее точно подойдет для вашего помещения. Критерии, которые важны при выборе:</p>
                <ul>
                <li>
                <p>Объем помещения. Важный показатель, ведь небольшое устройство не сможет обеспечить необходимое функционирование.</p>
                </li>
                <li>
                <p>Количество человек, находящихся внутри.</p>
                </li>
                <li>
                <p>Цветовая гамма. Оборудование должно гармонично вписываться в интерьер любой комнаты. Мы предоставляем различные цветовые композиции.</p>
                </li>
                </ul>
                <p>Для офиса подойдут:</p>
                <ul>
                <li>
                <p>Мобильные конструкции. Они имеют колесики или ножки, легко переносятся из одного помещения в другое, могут функционировать в присутствии людей. имеют различные габариты.</p>
                </li>
                <li>
                <p>Стационарные. Более мощные модели, которые монтируются к стене или потолку, в зависимости от конструкции. Они не переносятся, имеют счетчик и небольшой экран. Работают от обычной розетки.</p>
                </li>
                <li>
                <p>Встраиваемые. Они подключаются в систему вентиляции. Отличное решение для больших офисных помещений с хорошей системой вентиляции.</p>
                </li>
                </ul>
                <p><strong>Особенности нашей компании</strong></p>
                <p>Компания <span lang="ru-RU">Авап-климатические решения </span>продолжительное время предоставляет собственные продукты для потребителей. За это время мы получили большой опыт, доработали собственные разработки и получили только положительные отзывы. К каждому из представленных устройств мы предоставляем необходимую документацию. в которую входят сертификаты качества и гарантию.</p>
                <p><strong>Как оформить заказ</strong></p>
                <p>Рециркулятор воздуха купить легко можно в компании <span lang="ru-RU">Авап-Климатические решения.</span> Мы предлагаем сотрудничество не только физическим, но и юридическим лицам. Осуществляем продажу оптом и в розницу. Доставка осуществляется по всей России<span lang="ru-RU"> бесплатно</span>.</p>
                <p>Для оформления заявки, просто позвоните по указанному номеру.</p>
            </div>
            
        </div>
    </div>
</div>