<div class="about-content">
    <div class="wrapper">
        <div class="about-content__content">

            <div class="about-content__title title title_left">
                <h2>Бактерицидная насадка на сплит систему</h2> 
            </div>

            <div class="about-content__text about-content__text_dop">
                <p>Бактерицидную насадку на сплит системуможно приобрести в нашей компании. Мы предоставляем высокое качество, отличное исполнение и короткие сроки решения ваших задач.</p>
                <p><strong>Описание</strong></p>
                <p>Бактерицидная насадка на сплит систему позволит вам очищать воздух, не прибегая к дополнительному оборудованию. Значительно снижает количество болезнетворных организмов и вирусной инфекции в помещении. Безопасна для человека, не вызывает противопоказаний и не производит негативного эффекта.</p>
                <p>Фильтры центрального кондиционера позволяют обрабатывать воздух в промышленных и других зданиях, обеззараживая его.</p>
                <p><strong>Преимущества</strong></p>
                <p>Наша компания предлагает вам насадки, позволяющие очищать воздух, избавляя от бактерий<span lang="ru-RU"> и вирусов.</span> Особенности:</p>
                <ul>
                <li>
                <p>Возможно использование во время нахождения людей в помещении.</p>
                </li>
                <li>
                <p>Доступность. Мы предоставляем насадки, которые обеспечивают защиту на длительный срок.</p>
                </li>
                </ul>
                <p><strong>Когда требуется приобрести такой фильтр</strong></p>
                <p>В связи с опасной обстановкой в нашей стране и в мире в целом, из-за пандемии и вируса, который никак не успокаивается, а только мутирует, приобретение фильтра для компании, производства или образовательного учреждения является первой необходимостью. Таким образом у вас получится защитить и обезопасить всех, кто находится внутри помещения.</p>
                <p>Даже если у вас закрытая зона и каждый человек прошел необходимую обработку, не стоит отказываться от дополнительной защиты. Обязательно оберегайте себя и окружение. Тем более в современном мире, когда вирусов становится все больше и больше и появляется риск подхватить инфекцию воздушным путем.</p>
                <p><strong>Немного о компании</strong></p>
                <p>Наша команда состоит из профессионалов, которые знают цели и всегда достигают их. Мы предоставляем нашим клиентами только качественные товары, которые будут продолжительное время функционировать. Также к каждому оборудованию вы получите инструкцию, гарантийный талон и нашу консультацию.</p>
                <p>Мы имеем большой опыт в данном направлении и зарекомендовали себя надежной <span lang="ru-RU">компанией.</span> Получили большое количество положительных отзывов.</p>
                <p>Комплект фильтров для сплит<span lang="ru-RU">-</span>системы кондиционера лучше всего приобретать напрямую от производителя. Мы предоставляем качественные товары, имеющие все необходимые сертификаты и отвечающие высокому стандарту.</p>
                <p>Звоните прямо сейчас и оставляйте заявку.</p>
                <p><strong>Если остались вопросы, задайте их нашим консультантам!</strong></p>
            </div>
            
        </div>
    </div>
</div>