<div class="about-content">
    <div class="wrapper">
        <div class="about-content__content">

            <div class="about-content__title title title_left">
                <h2>Рециркуляторы воздуха бактерицидные для школы</h2> 
            </div>

            <div class="about-content__text about-content__text_dop">
                <p>Обеззараживатель воздуха для школы купить не составит труда, если вы посетите наш сайт. Мы, компания производитель, которая предоставляет широкий ассортимент самых разнообразных моделей по доступной стоимости.</p>
                <p><strong>Описание</strong></p>
                <p>Бактерицидный рециркулятор позволит вам очищать воздух в помещении при нахождении в нем людей. При этом, никакой вред находящимся детям внутри помещения не наносится. Оборудование полностью безопасно и позволяет<span lang="ru-RU"> убивать</span> до 99,9 % бактерий и вирусов.</p>
                <p>Обеззараживатель для школы позволяет исключить риск заражения и предотвратить болезни детей.</p>
                <p><strong>Ассортимент</strong></p>
                <p>Большое разнообразие моделей позволит вам подобрать оптимальный вариант, который будет применяться в стенах школы. Первое, на что стоит обратить внимание, в каком помещении:</p>
                <ul>
                <li>
                <p>Для классов достаточно небольшого оборудования, которое будет перемещаться.</p>
                </li>
                <li>
                <p>Для актовых залов, столовых и коридора необходимо побеспокоиться более тщательно.</p>
                </li>
                </ul>
                <p>Для школы подойдут:</p>
                <ul>
                <li>
                <p>Мобильные конструкции. Они имеют колесики или ножки, легко переносятся из одного помещения в другое, могут функционировать в присутствии людей. Имеют различные габариты.</p>
                </li>
                <li>
                <p>Стационарные. Более мощные модели, которые монтируются к стене или потолку, в зависимости от конструкции. Они не переносятся, имеют счетчик и небольшой экран. Работают от обычной розетки. Подойдут для больших помещений, таких как столовая и актовый зал.</p>
                </li>
                </ul>
                <p>К каждому из представленных устройств мы предоставляем необходимую документацию. в которую входят сертификаты качества и гарантию. Таким образом вы приобретете для учебного учреждения качественное оборудование, которое будет функционировать и полностью предоставлять заявленные требования в документации.</p>
                <p><strong>Как оформить заказ</strong></p>
                <p>Рециркулятор воздуха для школы бактерицидный купить не составит труда. В сложившейся обстановке просто необходимо обезопасить детей и учителей, которые ежедневно посещают учебное заведение. Мы предлагаем сотрудничество не только физическим, но и юридическим лицам. Осуществляем продажу оптом и в розницу. Доставка осуществляется <span lang="ru-RU">бесплатно </span>по всей России.</p>
                <p>Для оформления заявки позвоните по указанному номеру. Наши консультанты помогут вам в выборе. Если у вас остались вопросы, то вы их можете также задать специалистам. Обратите внимание, что наш товар имеет разрешения и необходимые сертификаты, поэтому оборудование полностью соответствует стандартам.</p>
            </div>
            
        </div>
    </div>
</div>